node_modules/
**/node_modules/
.DS_Store
SaaS-projects-JS-key.pem
github-actions-deploy-key
github-actions-deploy-key.pub
.env
*.env
!.env.example
frontend/.env.production
frontend/.env.development
frontend/.env
